{% load static %}
<style>
    /* http://pfefferle.github.io/openwebicons/usage/ */
    @font-face {
      font-family: 'OpenWeb Icons';
        src: url('{% static "licensing/font/openwebicons.eot" %}');
        src: url('{% static "licensing/font/openwebicons.eot?#iefix" %}') format('embedded-opentype'),
             url('{% static "licensing/font/openwebicons.woff" %}') format('woff'),
             url('{% static "licensing/font/openwebicons.ttf" %}') format('truetype'),
             url('{% static "licensing/font/openwebicons.svg#OpenWebIconsRegular" %}') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    /* openwebicons */
    i.{{ class }} {
        font-family: 'OpenWeb Icons', sans-serif;
        font-style: normal;
    }
</style>